@using M6SessionManagerSajat.Models
@model Person

<form method="post">
    <label>Age</label>
    <input type="number" name="age" />

    <input type="hidden" name="name" value="@Model.Name"/>

    <input type="submit" value="Save" />
</form>


